// 使用的是阿里巴巴适量图标库，在线引用方式
// Unicode，Font class，Symbol三种方式，此处使用推荐的Symbol方式
.icon{
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 由于不同手机对字库兼容性不一样，故提供多种字库选项，不同手机根据自己情况会下载相应字库
// @font-face {
//   font-family: 'iconfont';
//   src: url('./assets/fonts/icons.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

// .icon {
//   font-family: "iconfont";
// } 

// 禁止页面长按图片唤起菜单
img { pointer-events: none; }

// 禁止页面长按文字选中
div, span, p {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}